## Preprocessing

In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [51]:
from os import access
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(["EIN","NAME"],axis=1)

In [52]:
# Determine the number of unique values in each column.
alternative_variable = application_df.nunique()
alternative_variable

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [53]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [54]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_tally = application_df['APPLICATION_TYPE'].value_counts()
application_tally

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [55]:
type(application_tally)

pandas.core.series.Series

In [56]:
application_tally[application_tally <200].index

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [57]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace= application_tally[application_tally <200].index
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [58]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_CLASSIFICATION= application_df['CLASSIFICATION'].value_counts()
application_CLASSIFICATION

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [59]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_types= application_CLASSIFICATION[application_CLASSIFICATION >1]
CLASSIFICATION_types

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [61]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=application_CLASSIFICATION[application_CLASSIFICATION < 800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [62]:
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [63]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

In [64]:
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [69]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
x = application_df.drop(['IS_SUCCESSFUL'], axis = 1).values
# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 100)

In [71]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [74]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_feature_count = len(x_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 32, input_dim = input_feature_count, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 64, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 32)                1408

 dense_5 (Dense)             (None, 64)                2112

 dense_6 (Dense)             (None, 1)                 65

=================================================================
Total params: 3585 (14.00 KB)
Trainable params: 3585 (14.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [78]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer = "adam", metrics=["accuracy"])

In [79]:
# Train the model
model = nn.fit(x_train_scaled, y_train, epochs = 50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5734 - accuracy: 0.7211
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5550 - accuracy: 0.7310
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5510 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5499 - accuracy: 0.7317
Epoch 5/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5489 - accuracy: 0.7318
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7321
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7344
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7347
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7352
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7358
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7362
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7365
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7375
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7378
Epoch 20/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7376
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7375
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7371
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7374
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7367
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7375
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7364
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7384
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5401 - accuracy: 0.7370
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7383
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7400
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7379
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7386
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7384
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7384
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5382 - accuracy: 0.7391
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7388
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7386
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5373 - accuracy: 0.7395
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7387
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5376 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7390
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7393

In [80]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5619 - accuracy: 0.7227 - 910ms/epoch - 3ms/step
Loss: 0.5618536472320557, Accuracy: 0.7226822376251221

In [82]:
import os
print(os.getcwd())

/content

In [81]:
# Export our model to HDF5 file
nn.save('model-1.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(